<div class="banner-new">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <%= image_tag "https://fontmeme.com/permalink/201120/e19f9fff44464de070f2e6081fe6a0d7.png", :alt => "addpokemon" %>
  <p></p>
  <%= render "form" %>
  <p></p>
  <%= link_to "Cancel", root_path(@office) %>

      </div>
      </div>
  </div>
</div>
