<div class="banner-new">
  <div class="container">
    <div class="row">
      <div class="col-6">
  <p></p>
  <%= render "form" %>
  <p></p>
  <%= link_to "Cancel", root_path(@office) %>

      </div>
      </div>
  </div>
</div>
