<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/_thedesk_/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/thedeskss"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/company/thedesks/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This website is made with <i class="fas fa-heart"></i> by <a class="link-bastien" href="https://github.com/Bast-i1"><strong>Bastien</strong></a>
  </div>
</div>
